main {
    margin-top: 20px;
}

/* #back {
    position: absolute;
    display: inline;
    margin-right: 20px;
    right: 50px;
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--text-color);
}

#back:hover {
    color: var(--bg-color);
} */

.blogs {
    position: relative;
}

.blog-entry {
    background-color: var(--surface);
    padding: var(--spacing-4);
    margin-block: var(--spacing-4);
    border: 1px solid var(--outline-variant);
    border-radius: var(--radius-large);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    --state-layer-bg: var(--on-surface);
    transition: border-color var(--tr-duration-short) var(--tr-easing-linear);
}

.blog-entry:where(:hover, :focus-visible) { border-color: var(--outline); }



/* Additional styling for blog entry content */
.blog-entry h3,
.blog-entry p,
.blog-entry .author {
    color: var(--on-surface-variant);
    margin-block: var(--spacing-4);
    text-wrap: balance;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.delete-button {
    position: relative;
}

.delete-button .icon-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-block: 1px;
    padding-inline: 6px;
}

.blog-entry .icon-btn {
    opacity: 0;
    transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
}
  
.blog-entry:where(:hover, :focus-visible) .icon-btn {
    opacity: 1;
}

/**
 * Modal
 */

 /* Style for the modal */
 .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: calc(100% - var(--spacing-8));
    background-color: var(--surface-container-highest);
    border-radius: var(--radius-large);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-3);
    z-index: 8;
    animation: modal-open var(--tr-duration-medium) var(--tr-easing-emphasized) forwards;
  }



@keyframes modal-open {
    0% {
      transform: translate(-50%, calc(-50% + var(--spacing-5)));
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
    }
  }


.modal .icon-btn {
    position: absolute;
    top: var(--spacing-4);
    right: var(--spacing-4);
}

.btn.text {
    color: var(--primary);
    --state-layer-bg: var(--primary);
    padding-inline: var(--spacing-4);
  }
  
.btn.text:disabled { color: var(--on-surface); }
  
.btn.text:disabled .text-label-large { opacity: 0.38; }
  
.btn.fill {
    background-color: var(--primary);
    color: var(--on-primary);
    --state-layer-bg: var(--on-primary);
    padding-inline: var(--spacing-6);
    transition: box-shadow var(--tr-duration-short) var(--tr-easing-linear);
}
  
.btn.fill:hover:not(:focus) { box-shadow: var(--shadow-1); }
  

/* Modal content */
.modal-content {
    background-color: var(--surface-container-highest);
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}

.modal-content textarea {
    min-height: 240px;
    max-height: calc(100vh - 200px);
    color: var(--on-surface-variant);
    overflow-y: auto;
    margin-block-end: var(--spacing-4);
    font-size: var(--fs-body-large);
    line-height: var(--lh-body-large);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-025);
}

.modal-content input[type="text"] {
    padding-left: 0;
    max-height: 48px;
    color: var(--on-surface-variant);
    overflow-y: auto;
    margin-block-end: var(--spacing-4);
    font-size: var(--fs-body-large);
    line-height: var(--lh-body-large);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-025);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-2);
    padding-block-start: var(--spacing-2);
  }
  
.modal-footer .time {
    flex-grow: 1;
    color: var(--on-surface-variant);
}




