main {
    padding-inline: var(--spacing-2);
    padding-block-end: var(--spacing-2);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
}

/*-----------------------------------*\
#BLOGS
\*-----------------------------------*/
.blogs {
    position: relative;
}

.blog-entry {
    background-color: var(--surface);
    padding: var(--spacing-2);
    margin-block: var(--spacing-2);
    border: 1px solid var(--outline-variant);
    border-radius: var(--radius-large);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    --state-layer-bg: var(--second-surface);
    transition: border-color var(--tr-short) var(--tr-linear);
}

.blog-entry:where(:hover, :focus-visible) { border-color: var(--outline); }

/* Additional styling for blog entry content */
.blog-entry h3,
.blog-entry p,
.blog-entry .author {
    color: var(--second-surface-variant);
    margin-block: var(--spacing-2);
    text-wrap: balance;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.delete-button {
    position: relative;
}

.delete-button .icon-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-block: 1px;
    padding-inline: 6px;
}

.blog-entry .icon-btn {
    opacity: 0;
    transition: opacity var(--tr-short) var(--tr-linear);
}
  
.blog-entry:where(:hover, :focus-visible) .icon-btn {
    opacity: 1;
}

/*-----------------------------------*\
#MODAL
\*-----------------------------------*/
 .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: calc(100% - var(--spacing-5));
    background-color: var(---surface-container);
    border-radius: var(--radius-large);
    padding: var(--spacing-4);
    box-shadow: var(--shadow-2);
    z-index: 8;
    animation: modal-open var(--tr-medium) var(--tr-emphasized) forwards;
  }

@keyframes modal-open {
    0% {
      transform: translate(-50%, calc(-50% + var(--spacing-3)));
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
    }
  }


.modal .icon-btn {
    position: absolute;
    top: var(--spacing-2);
    right: var(--spacing-2);
}

.btn.text {
    color: var(--primary);
    --state-layer-bg: var(--primary);
    padding-inline: var(--spacing-2);
  }
  
.btn.text:disabled { color: var(--second-surface); }
  
.btn.text:disabled .text-label-large { opacity: 0.38; }
  
.btn.fill {
    background-color: var(--primary);
    color: var(--second-primary);
    --state-layer-bg: var(--second-primary);
    padding-inline: var(--spacing-4);
    transition: box-shadow var(--tr-short) var(--tr-linear);
}
  
.btn.fill:hover:not(:focus) { box-shadow: var(--shadow-1); }
  

/* Modal content */
.modal-content {
    background-color: var(---surface-container);
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}

.modal-content textarea {
    min-height: 240px;
    max-height: calc(100vh - 200px);
    color: var(--second-surface-variant);
    overflow-y: auto;
    margin-block-end: var(--spacing-2);
    font-size: var(--fs-large);
    line-height: var(--lh-large);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-025);
}

.modal-content input[type="text"] {
    padding-left: 0;
    max-height: 48px;
    color: var(--second-surface-variant);
    overflow-y: auto;
    margin-block-end: var(--spacing-2);
    font-size: var(--fs-large);
    line-height: var(--lh-large);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-025);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-1);
    padding-block-start: var(--spacing-1);
  }
  
.modal-footer .time {
    flex-grow: 1;
    color: var(--second-surface-variant);
}




